html {
	margin:0;
	padding: 0;
	overflow-x: hidden;
	background: #1a1a1a;
}
body {
	padding: 0;
	margin: 0;
	top:0;
	position: absolute;
}

.triangle_left {
	width: 50vw;
	height: 50vh;
	position: absolute;
	left: 0;

	overflow: hidden;
}
.image_left {
	background: url('../../src/beer2.jpg');*
	background-repeat: no-repeat;
	width: 1200px;
	height: 1200px;
	margin-top: -626px;
	margin-left: -626px;
	transform: rotate(135deg);
}
.triangle_right {
	width: 50vw;
	height: 50vh;
	position: absolute;
	right: 0;

	overflow: hidden;
}
.image_right {
	background: url('../../src/beer2.jpg');
	background-repeat: no-repeat;
	width: 1200px;
	height: 1200px;
	margin-top: -586px;
	margin-left: 186px;
	transform: rotate(-135deg);
}
header {
	background-size: 100%;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin-top: 0;
}

div.contain_title {
	margin: auto;
	text-align: center;
	border: 8px solid white;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	transform: rotate(45deg);
	overflow: hidden;

}
div.title {
	margin: auto;
	transform: rotate(-45deg);
}
.name {
	font-family: 'helvetica';
	font-size: 4em;
	color: white;
	text-transform: uppercase;
	z-index: 1;

}

.subtitle {
	font-family: 'helvetica';
	font-size: 2em;
	color: white;
	z-index: 1;

}
div.bg {
	position: absolute;
	width: 1300px;
	height: 1300px;
	top: -50vh;
	left: -60vw;
	background: url('../../src/beer3.jpg');
	background-size: 100%;
	transform: rotate(-45deg);
	transform-origin: 60% 40%;
	animation: rotateBG 35s infinite linear;
	z-index: -1;
}

@keyframes rotateBG {
	0% {
		transform: rotate(0);

	}
	100% {
		transform: rotate(359deg);

	}
}


section.first {
	width: 400px;
	height: 400px;
	margin-top: -250px;
	margin-left: 200px;
	position: absolute;
	transform: rotate(135deg);
	display: flex;
	overflow: hidden;
	border: 4px solid white;


}
#beersStrong {

	transform: rotate(-135deg);
	margin: auto;
	margin-left: -20px;

}
section.first img {
	width: 890px;
	transform: rotate(-135deg);
	position: absolute;
	z-index: -1;
	margin-top: -20px;
	margin-left: -150px;
}

section.secund {
	width: 400px;
	height: 400px;
	margin-top: -248px;
	margin-left: 836px;
	transform: rotate(-135deg);
	display: flex;
	overflow: hidden;
	border-top: 4px solid white;
	border-right: 4px solid white;
	background-color: black;
	
	

}

div.content {
	transform: rotate(135deg);
	display: flex;
}
div.content img {
	width: 260px;
	height: auto;
	margin: auto;
	margin-left: -135px;
	margin-right: 135px;
	margin-top:22px;
}
div.content p {
	background-color: black;
	font-family: 'helvetica';
	font-size: .8em;
	color: white;
	width: 150px;
	height: 800px;
	padding-top: 228px;
	padding-left: 30px;
	padding-right: 150px;
	border-left: 1px solid white;
	margin: auto;
	margin-left: -155px;
	margin-top: -150px;
	margin-right: -145px;
	background: orange;

}

section.third {
	width: 400px;
	height: 400px;
	margin-top: -100px;
	margin-left: 512px;
	transform: rotate(45deg);
	overflow: hidden;
	border: 8px solid white;
}

div.chope {
	background: black;
	width: 400px;
	height: 400px;
	display: flex;
}
div.chope #splash {
	transform: rotate(-45deg);
	width: 600px;
	height: auto;
	margin: auto;
	margin-top: 170px;
}
#log {
	transform: rotate(-45deg);
	width: 250px;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
}
.strong {
	font-size: 5em;
	text-transform: uppercase;
	font-family: 'helvetica';
	font-weight: bold;
	text-align: center;
	color: white;
	border: 12px double white;
	width: 570px;
	transform: rotate(-45deg);
	position: absolute;
	top: 150px;
	left: -85px;

}


section.event {
	width: 100vw;
	height: 50vh;
	background: black;
	display: flex;
}

.actu {
	width: 49.9vw;
	height: 50vh;
	border-right: 4px solid white;
	display: flex;
	overflow:hidden;
}
.soon {
	width: 49.9vw;
	height: 50vh;
	display: flex;
	overflow:hidden;
}
.actu img {
	width: 49.9vw;
	margin: auto;

}
.soon img {
	width: 49.9vw;
	margin: auto;

}
.act_title {
	color: white;
	margin-left: 150px;
	background-color: orange;
	display: block;
	width: 80px;
	height: 20px;
	padding: 12px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'helvetica';
	position: absolute;
}

.menu {
	width: 100vw;
	height: 49vh;
	display: flex;
	overflow: hidden;
	border-top: 4px solid white;
	background: url('../../src/wood.jpg');
	background-color: grey;
	background-blend-mode: multiply;
	background-size: 100%;
}
.title_whiskey {
	color: white;
	font-size: 4em;
	font-family: 'Great Vibes';
	position: absolute;
	margin-top: -10px;
	font-weight: lighter;
	border-bottom: 2px solid orange;
	width: 100vw;
	height: 38px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 55px;
}
.left_title {
	color: white;
	font-size: 2em;
	font-family: 'Great Vibes';
	position: absolute;
	margin-top: 24px;
	font-weight: lighter;
	right: 50px;
	z-index: 2;
}
.resume {
	color: white;
	font-family: 'Great Vibes';
	font-size: 1.5em;
	margin: auto;
	margin-left: 255px;
	margin-top: 110px;
	width: 30vw;

}
.Whiskey {
	margin: auto;
	height: 100vh;
	margin-top: -32vh;
	transform: rotate(30deg);
	filter: drop-shadow(0 0 2rem orange);
	animation: drop 4s linear infinite;
	
}

@keyframes drop {
	0% {
		filter: drop-shadow(0 .75rem 2rem orange);
	}
	50% {
		filter: drop-shadow(0 0 4rem black);
	}
	100% {
		filter: drop-shadow(0 .75rem 2rem orange);
	}
}